[submodule ".vim/bundle/bufexplorer.vim"]
	path = .vim/bundle/bufexplorer.vim
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/sleuth.vim"]
	path = .vim/bundle/sleuth.vim
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf
[submodule ".vim/bundle/vim-flatbuffers"]
	path = .vim/bundle/vim-flatbuffers
	url = https://github.com/dcharbon/vim-flatbuffers
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/bundle/graphviz.vim"]
	path = .vim/bundle/graphviz.vim
	url = git@github.com:liuchengxu/graphviz.vim.git
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = git@github.com:kovisoft/slimv.git
[submodule ".vim/bundle/vim-jsx-typescript"]
	path = .vim/bundle/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
